<div data-theme="default" data-layout="fluid" data-sidebar="left">
    <div class="wrapper">
        <nav id="sidebar" #side class="sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="#">
                    <span class="align-middle">Template Market</span>
                </a>


                <ul class="sidebar-nav">
                    <li class="sidebar-item active">
                        <div class="card-body">
                            <form>
                                <label class="form-label">Orientation</label>
                                <div class="input-group mb-3">
                                    <select class="form-select">
                                        <option>Portrait</option>
                                        <option>One</option>
                                        <option>Two</option>
                                        <option>Three</option>
                                    </select>
                                </div>

                                <label class="form-label">Industry Type</label>
                                <div class="input-group mb-3">
                                    <select class="form-select">
                                        <option>Select...</option>
                                        <option>One</option>
                                        <option>Two</option>
                                        <option>Three</option>
                                    </select>
                                    <a><img class="drp-dwn" src="../../assets/pluse_dropdown.png"></a>
                                </div>
                                <label class="form-label">Industry Type</label>
                                <div class="input-group mb-3">
                                    <select class="form-select">
                                        <option>Select...</option>
                                        <option>One</option>
                                        <option>Two</option>
                                        <option>Three</option>
                                    </select>
                                    <a><img class="drp-dwn" src="../../assets/pluse_dropdown.png"></a>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle d-flex" (click)="addToggle()">
                    <i class="hamburger align-self-center"></i>
                </a>
                <h3>Template</h3>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">

                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                                data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                                data-bs-toggle="dropdown">
                                <img src="../../assets/avatar.jpg" class="avatar img-fluid rounded me-1"
                                    alt="Charles Hall" /> <span class="text-dark">Charles
                                    Hall</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i class="align-middle me-1"
                                        data-feather="user"></i> Profile</a>
                                <a class="dropdown-item" href="#"><i class="align-middle me-1"
                                        data-feather="pie-chart"></i> Analytics</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="align-middle me-1"
                                        data-feather="settings"></i> Settings &
                                    Privacy</a>
                                <a class="dropdown-item" href="#"><i class="align-middle me-1"
                                        data-feather="help-circle"></i> Help Center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="content pt-0">
                <div class="container-fluid p-0">

                    <div class="row mb-2 mb-xl-3">
                        <div class="row" style="background-color: #fff;">
                            <div class="col-xl-6 col-lg-6 col-xs-12 col-sm-12 backImg">
                                <div class="img-privew mx-auto">
                                    <img class="mt-4" src="../../assets/tab-img.png" style="z-index: 2;" alt="Avatar">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-xs-12 col-sm-12">
                                <form class="detail-form p-4">
                                    <div class="mb-3">
                                        <label class="form-label-name">Name</label>
                                        <input type="email" class="form-control form-control-name" placeholder="Email">
                                    </div>

                                    <div>
                                        <label class="form-label-name">Type</label>
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="option1">
                                            <span class="form-check-label">
                                                Public
                                            </span>
                                        </label>
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="option2">
                                            <span class="form-check-label">
                                                Private
                                            </span>
                                        </label>

                                    </div>

                                    <label class="form-label-name">Account</label>
                                    <div class="input-group mb-3">
                                        <select class="form-control form-select-name">
                                            <option>Select</option>
                                            <option>One</option>
                                            <option>Two</option>
                                            <option>Three</option>
                                        </select>
                                    </div>
                                    <div class="upload-file">
                                        <label class="form-label-btn">Preview Image</label>
                                        <a type="submit" class="select" style="color:#fff;text-transform: uppercase;">SELECT</a>
                                    </div>

                                    <div class="upload-file mt-8">
                                        <label class="form-label-btn">Template bundle</label>
                                        <a type="submit" class="select" style="color:#fff;text-transform: uppercase;">SELECT</a>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-12  text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="cancel" href="#">CANCEL</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="select" href="#">CREATE</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</div>