
<!-- Styled non screen reader select -->
<div class='styled-select' aria-hidden=true>
  <ng-select [items]="items" 
             [placeholder]=placeholder 
             [(ngModel)]="model"
             name="ngselect" 
             (change)=modelChanged()
             attr.aria-label={{ariaLabel}} [clearable]="false" name="fieldName" ngDefaultControl>

    <ng-template ng-label-tmp let-item="item">
      <ng-container *ngTemplateOutlet="labelTemplate; context: { $implicit: item }"></ng-container>
    </ng-template>
    
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      <ng-container *ngTemplateOutlet="optionTemplate; context: { $implicit: item }"></ng-container>
    </ng-template>

  </ng-select>
</div>

<!-- screen reader only standard select 
    (Remove the sr-only class to see this) -->
<select #standardSelect [(ngModel)]="model" (change)=modelChanged() class='sr-only' attr.aria-label='{{ariaLabel}}'>

  <!-- Also getting interpolation error here. Below renders as a string "item.abbreviation" rather than interpolating -->
  <option *ngFor="let item of items" [ngValue]="item">{{selectField}}</option>

  <!-- This also renders as a string -->
  <!-- <option *ngFor="let item of items" [ngValue]="item" [innerHTML]="selectField"></option> -->

  <!-- Hardcoded value below works -->
  <!-- <option *ngFor="let item of items" [ngValue]="item">{{item.abbreviation}}</option> -->
</select>