<div data-theme="default" data-layout="fluid" data-sidebar="left">
  <div class="wrapper">
    <nav id="sidebar" #side class="sidebar">
      <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="#">
          <span class="align-middle">Template Market</span>
        </a>

        <ul class="sidebar-nav">
          <li class="sidebar-item active">
            <a
              data-bs-target="#dashboards"
              data-bs-toggle="collapse"
              class="sidebar-link"
            >
              <span class="align-middle"
                ><img
                  class="sidemenu_icon mr-4"
                  src="../../assets/portrait_white.png"
                />Portrait ({{ submenus[0].length }})
              </span>
            </a>

            <ul
              id="dashboards"
              class="sidebar-dropdown list-unstyled collapse show"
            >
              <div class="scrollbar" id="style-2">
                <div class="force-overflow">
                  <li
                    class="sidebar-item"
                    *ngFor="let one of submenus[0]"
                    [class.active]="current === one.name"
                  >
                    <a
                      class="sidebar-link"
                      [routerLink]=""
                      (click)="
                        lvl1 = 'Portrait(' + submenus[0].length + ')';
                        lvl2 = '';
                        lvl3 = '';
                        getLevels('second', one);
                        current = one.name
                      "
                      >{{ one.name }} ({{ one.count }})
                    </a>
                  </li>
                  <!-- <li class="sidebar-item"><a class="sidebar-link" href="#">유익정보 (15)
                                        </a></li>
                                    <li class="sidebar-item"><a class="sidebar-link" href="#">재난대비 (22)</a></li>
                                    <li class="sidebar-item"><a class="sidebar-link" href="#">유익정보 (15)
                                        </a></li>
                                    <li class="sidebar-item"><a class="sidebar-link" href="#">재난대비 (22)</a></li> -->
                </div>
              </div>
            </ul>
          </li>

          <li class="sidebar-item active">
            <a
              data-bs-target="#pages"
              data-bs-toggle="collapse"
              class="sidebar-link collapsed"
            >
              <span class="align-middle"
                ><img
                  class="sidemenu_icon mr-4"
                  src="../../assets/landscape_white.png"
                />
                Landscape ({{ submenus[1].length }})</span
              >
            </a>
            <ul
              id="pages"
              class="sidebar-dropdown list-unstyled collapse"
              data-bs-parent="#sidebar"
            >
              <div class="scrollbar" id="style-2">
                <div class="force-overflow">
                  <li
                    class="sidebar-item"
                    *ngFor="let one of submenus[1]"
                    [class.active]="current === one.name"
                  >
                    <a
                      class="sidebar-link"
                      (click)="
                        lvl1 = 'Landscape(' + submenus[1].length + ')';
                        lvl2 = '';
                        lvl3 = '';
                        getLevels('second', one);
                        current = one.name
                      "
                      [routerLink]=""
                      >{{ one.name }} ({{ one.count }})</a
                    >
                  </li>
                  <!-- <li class="sidebar-item"><a class="sidebar-link" href="#">Projects </a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Clients </a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Pricing </a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Chat </a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="#">Blank Page</a></li> -->
                </div>
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="main">
      <nav class="navbar navbar-expand navbar-light navbar-bg">
        <a class="sidebar-toggle d-flex" (click)="addToggle()">
          <i class="hamburger align-self-center"></i>
        </a>
        <h3 class="titleColor">Templates</h3>

        <div class="navbar-collapse collapse">
          <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
              <a
                class="nav-icon dropdown-toggle d-inline-block d-sm-none"
                href="#"
                data-bs-toggle="dropdown"
              >
                <i class="align-middle" data-feather="settings"></i>
              </a>

              <a
                class="nav-link dropdown-toggle d-none d-sm-inline-block"
                href="#"
                data-bs-toggle="dropdown"
              >
                <img
                  src="assets/icons/account_icon.png"
                  class="avatar img-fluid me-1"
                  alt="user"
                />
                <span class="text-dark">{{ userName }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#">Log out</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <main class="content">
        <div class="container-fluid p-0">
          <div class="row mb-2 mb-xl-3">
            <div class="col-auto text-start mb-4 ml-4">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
                  <li class="breadcrumb-item active" *ngIf="lvl1">
                    Templates &nbsp;&nbsp;>
                  </li>

                  <li class="breadcrumb-item active" aria-current="page">
                    {{ lvl1 }}<span *ngIf="lvl2"> &nbsp;&nbsp;></span>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    {{ lvl2 }}<span *ngIf="lvl3"> &nbsp;&nbsp;></span>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    {{ lvl3 }}
                  </li>
                </ol>
              </nav>
            </div>

            <div class="row" *ngIf="tabs.length > 0">
              <div class="col-12 col-lg-12">
                <div class="tab tabs-dashboard">
                  <ul class="nav nav-tabs" role="tablist">
                    <li
                      class="nav-item"
                      *ngFor="let one of tabs; let i = index"
                    >
                      <a
                        class="nav-link"
                        data-bs-toggle="tab"
                        role="tab"
                        href="#tab-{{ i }}"
                        (click)="getTemplates(one.themeid, i); lvl2 = one.name"
                        >{{ one.name }} ({{ one.count }})</a
                      >
                    </li>
                    <!-- <li class="nav-item"><a class="nav-link" href="#tab-2" data-bs-toggle="tab"
                                                role="tab">흡연금지 (8)</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#tab-3" data-bs-toggle="tab"
                                                role="tab">주차질서 (4)</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#tab-4" data-bs-toggle="tab"
                                                role="tab">반려동물 (6)</a></li> -->
                  </ul>
                  <div class="tab-content dashboard-items p-0">
                    <div
                      class="tab-pane active d-flex"
                      id="tab-{{ tabContentIndex }}"
                      role="tabpanel"
                    >
                      <div
                        class="tab-container ml-4"
                        id="{{ j }}"
                        *ngFor="let template of templateList; let j = index"
                      >
                        <span *ngIf="template.isNew" class="new-badge"
                          >New</span
                        >
                        <img
                          src="{{
                            downloadUrl + template.fPreviewMediaID + '.jpg'
                          }}"
                          alt="Avatar"
                          class="tab-image"
                          style="width: 100%"
                        />
                        <div class="middle">
                          <div class="text">
                            <img
                              src="../../assets/edit_icon.png"
                              (click)="editTemplate(template)"
                            />
                            <span><strong>EDIT</strong></span>
                          </div>
                          <div class="text">
                            <img
                              src="../../assets/delete.png"
                              (click)="openDeleteModal(deleteModal, template)"
                            />
                            <span><strong>DELETE</strong></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="tab-pane" id="tab-2" role="tabpanel">
                      <h4 class="tab-title">Another one</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit. Aenean commodo ligula eget dolor tellus eget
                        condimentum rhoncus. Aenean massa. Cum sociis natoque
                        penatibus et magnis neque dis parturient montes,
                        nascetur ridiculus mus.
                      </p>
                      <p>
                        Donec quam felis, ultricies nec, pellentesque eu,
                        pretium quis, sem. Nulla consequat massa quis enim.
                        Donec pede justo, fringilla vel, aliquet nec, vulputate
                        eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                        venenatis vitae, justo.
                      </p>
                    </div>
                    <div class="tab-pane" id="tab-3" role="tabpanel">
                      <h4 class="tab-title">One more</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit. Aenean commodo ligula eget dolor tellus eget
                        condimentum rhoncus. Aenean massa. Cum sociis natoque
                        penatibus et magnis neque dis parturient montes,
                        nascetur ridiculus mus.
                      </p>
                      <p>
                        Donec quam felis, ultricies nec, pellentesque eu,
                        pretium quis, sem. Nulla consequat massa quis enim.
                        Donec pede justo, fringilla vel, aliquet nec, vulputate
                        eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                        venenatis vitae, justo.
                      </p>
                    </div>
                    <div class="tab-pane" id="tab-4" role="tabpanel">
                      <h4 class="tab-title">One more</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit. Aenean commodo ligula eget dolor tellus eget
                        condimentum rhoncus. Aenean massa. Cum sociis natoque
                        penatibus et magnis neque dis parturient montes,
                        nascetur ridiculus mus.
                      </p>
                      <p>
                        Donec quam felis, ultricies nec, pellentesque eu,
                        pretium quis, sem. Nulla consequat massa quis enim.
                        Donec pede justo, fringilla vel, aliquet nec, vulputate
                        eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                        venenatis vitae, justo.
                      </p>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <a class="float" (click)="addItemPage()">
        <i class="my-float"> <img src="../../assets/plus_icon.png" /></i>
      </a>
    </div>
  </div>
</div>
<ng-template #deleteModal>
  <div class="modal-dialog w-100 m-0" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">Are you sure you want to delete ?</div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          #closebutton
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="deleteTemplate()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</ng-template>
